* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: grid;
    place-items: center;
    gap: 1.5em;
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px;
    min-width: 100px;
    width: 100%;
    border: solid black 2px;
}

.contentWrapper {
    width: 40%;
    text-align: center;
}

.wrapper :nth-child(odd) {
    background-color: #f0f0f0;
}

.cell {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5cqw;
}

h1 {
    font-size: 5cqw;
    margin-bottom: 1.2em;
}